.login-container {
    max-width: 400px;

    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container p {
    margin-top: 20px;
}

.link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.link:hover {
    color: #0056b3;
}
